<div class="row">
  <div class="col-xs-3 col-xs-offset-4">
    <h2>Login</h2>
    <%= form_tag '/login' do |f| %>

      <div class="field form-group">
        <%= I18n.t("email") %><br />
        <%= email_field :email, "", autofocus: true, autocomplete: "email", class: "form-control"%>
      </div>
      <div class="field form-group">
        <%= I18n.t("password") %><br />
        <%= password_field :password, "", autocomplete: "off" , class: "form-control"%>
      </div>
      <div class="actions">
        <%= submit_tag "Login" ,class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>