



<div class="post-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="transitions-enabled" id="posts_index">
    <div class="col-md-8 col-md-offset-2">
      <%= form_with(model: @issue, local: true) do |form| %>
        <div class="box panel panel-default">
          <div class="panel-heading text-center col-12" style="font-size: 12px;">
            <%= form.select(:state, ['To Do','Doing', 'Done'], {})%>
            <%= form.text_field :title, maxlength: 30, required: true %>
            <p class="pull-right"><%= form.date_field :end_time %></p>
          </div>
          <div class="panel-body">
            <%= form.text_area :description, maxlength: 120, :class=>'form-control' %>
          </div>
          <div class="panel-footer">
            <%= form.submit :class => 'btn' %>
          </div>
        </div>
      <% end %>
      <!-- <div class="box panel panel-default">
        <div class="panel-title text-center">
          To do
        </div>
      </div> -->
      <% @issues.each do |issue| %>
        <div class="box panel panel-default">
          <div class="panel-heading text-center">
            <div class="text-center">
              <span class="label <%= issue.state_tag %>" style="font-size: 12px;">
                <%= issue.state %>
              </span>
              &nbsp;<%= issue.title %>
            </div>
            <p style="font-size: 12px;">until: <%= issue.end_time.strftime("%Y/%m/%d") %></p>
          </div>

          <div class="panel-body">
            <%= truncate(issue.description, length: 80) %>
          </div>

          <div class="panel-footer">
            <% if issue.user == @current_user %>
              <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
              <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="text-center">
  <nav>
    <%= paginate @issues %>
  </nav>
</div>
