
<div class="container" style="text-align: center;">
  <%= search_form_for @q do |f| %>
    <div class="col-md-6 col-md-offset-4">
      <div class="input-group input-group-sm pull-left p-10 clearfix">
        <span  class="input-group-btn"><%= sort_link(@q, :end_time, 'Sort by deadline', {}, :class => 'btn btn-info') %></span>
        <span  class="input-group-btn"><%= sort_link(@q, :state, 'Sort by state', {}, :class => 'btn btn-info') %></span>
        <%=f.search_field :issuetags_name_cont, placeholder: "Search for...", :class=>'form-control input-group' %>
        <span class="input-group-btn active"><%= f.submit  "Tag", :class => "btn btn-primary", style: "margin-right: 0;" %></span>
        <span class="input-group-btn active"><%= f.submit  "Group or User", name: "group" , :class => "btn btn-primary" %></span>
      </div>
    </div>
  <% end %>
</div>

<div class="post-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="transitions-enabled" id="posts_index">
    <div class="col-md-8 col-md-offset-2">
      <%= form_with(model: @issue, local: true) do |form| %>
        <div class="box panel panel-default">
          <div class="panel-heading text-center col-12" style="font-size: 12px;">
            <%= form.select(:state, ['To Do','Doing', 'Done'], {})%>
            <%= form.text_field :title, maxlength: 30, required: true %>
            <%= form.select(:priority, options_for_select([["recommended", 1], ["suggested", 2], ["required", 3]]))%>
            <p class="pull-right"><%= form.date_field :end_time, required: true %></p>
          </div>
          <div class="panel-body">
            <%= form.text_area :description, maxlength: 120, required: true, :class=>'form-control' %>
          </div>
          <div class="panel-body">
            <%= form.file_field :file, :class => 'btn btn-info' %>
          </div>
          <div class="panel-footer col-md-12">
            <%= form.submit :class => 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
      <% @issues.each do |issue| %>
        <%= render partial: "issue", locals: {issue: issue} %>
      <% end %>
    </div>
  </div>
</div>
<div class="text-center">
  <nav>
    <%= paginate @issues %>
  </nav>
</div>
