<p id="notice"><%= notice %></p>

<h1>Issuetags</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issuetags.each do |issuetag| %>
      <tr>
        <td><%= issuetag.name %></td>
        <td><%= link_to 'Show', issuetag %></td>
        <td><%= link_to 'Edit', edit_issuetag_path(issuetag) %></td>
        <td><%= link_to 'Destroy', issuetag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issuetag', new_issuetag_path %>
