<!DOCTYPE html>
<html>
  <head>
    <title>Repo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <%= link_to 'Simple Trello',root_path ,class: "navbar-brand" %>
      </ul>
      <ul class="pull-right text-right nav navbar-nav">
        <% if session[:user_id] != nil %>
          <li><%= link_to "Logout", logout_path %></li>
          <li><%= link_to "admin", admin_root_path %></li>
        <% else %>
          <li><%= link_to "Login", login_path %></li>
          <li><%= link_to "Sign up", signup_path %></li>
        <% end %>
      </ul>
    </nav>
    <% if notice %>
    <div class="container">
      <div class="row">
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= notice %>
        </div>
      </div>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
